@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
$bodyFont: "Varela", sans-serif;
$titleFont: "Space Grotesk", sans-serif;
$primaryColor: #ef9334;
$secondaryColor: #7215fa;
$bodyColor: #424242;
$whiteColor: #ffffff;
$titleColor: #101621;
$darkColor: #101621;
$thirdColor: #17975a;
$darkerColor: #f8f8f8;
$greenColor: #70ef34;
$whiteColor0_8: rgba(255, 255, 255, 0.8);
